<div class="modal fade" id="<%= name %>Detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-bgcolor">
                <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <h4 class="modal-title pl15" id="myModalLabel">详情</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <div class="col-md-6 pr0">
                        <label class="control-label col-md-4 pr0">姓名：</label>
                        <div class="form-control-static col-md-8">
                            小鸭子
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4 pr0">性别：</label>
                        <div class="form-control-static col-md-8">
                            男
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-2 pr0">住址：</label>
                        <div class="form-control-static col-md-8">
                           杭州市萧山区民和路
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-none">
                <button type="button" class="btn btn-success mr50" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>